<div class="row">
<div class="col-lg-3 col-md-4">

    <div class="list-group" id="contents">
    <a href="#" class="list-group-item active">Welcome</a>
    <div class="accordionmenu">
        <a href="#" class="list-group-item">
            <strong>Orders</strong>
            <span style="float: right;">+</span>
        </a>
        <div class="submenu">
            <a href="#" class="list-group-item">Creating a Delivery Order</a>
            <a href="#" class="list-group-item">Creating a Take Away Order</a>
            <a href="#" class="list-group-item">Discarding an Order</a>
            <a href="#" class="list-group-item">Voiding an order</a>
            <a href="#" class="list-group-item">Settling a Bill thru Cash</a>
            <a href="#" class="list-group-item">Settling a Bill thru Card</a>
        </div>
    </div>
    <div class="accordionmenu">
        <a href="#" class="list-group-item">
            <strong>Tables</strong>
            <span style="float: right;">+</span>
        </a>
        <div class="submenu">
            <a href="#" class="list-group-item">Creating an Order</a>
            <a href="#" class="list-group-item">Discarding an Order</a>
            <a href="#" class="list-group-item">Voiding an order</a>
            <a href="#" class="list-group-item">Settling a Bill</a>
        </div>
    </div>
    <div class="accordionmenu">
        <a href="#" class="list-group-item">
            <strong>Quick Service</strong>
            <span style="float: right;">+</span>
        </a>
        <div class="submenu">
            <a href="#" class="list-group-item">Creating an Order</a>
            <a href="#" class="list-group-item">Discarding an Order</a>
            <a href="#" class="list-group-item">Voiding an order</a>
            <a href="#" class="list-group-item">Settling a Bill</a>
        </div>
    </div>
    <div class="accordionmenu">
        <a href="#" class="list-group-item">
            <strong>Common Actions</strong>
            <span style="float: right;">+</span>
        </a>
        <div class="submenu">
            <a href="#" class="list-group-item">Settling a Bill between Half Cash Half credit</a>

        </div>
    </div>
    <a href="#" class="list-group-item">Applying Discounts</a>
    <a href="#" class="list-group-item">Viewing Reports</a>
    <a href="#" class="list-group-item">Market</a>
    <a href="#" class="list-group-item">Quick Start</a>
    </div>

    </div>
</div>